@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/29b665f6-0a62-4745-b9c2-f617fb7eadc6/web/IN-en-20251208-TRIFECTA-perspective_c78aea89-8f13-4e2c-ba7a-f9b40f53bf8c_medium.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.60;
    position: absolute;
    display: flex;
    justify-items: center;
    align-items: center;
    top: 0;
    background-color: black;

}

nav {
    max-width: 80vw;
    justify-content: space-between;
    display: flex;
    margin: auto;
    align-items: center;
    height: 62px;
}

nav img {
    height: 87px;
    width: 180px;
    color: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    z-index: 10;
    position: relative;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
  font-weight: 900;
  font-style:normal;
    flex-direction: column;
    gap: 20px;
}

.hero> :first-child {
    font-size: 55px;
    font-weight: 900;
}

.hero> :nth-child(2) {
    font-size: 20px;
    font-weight: 500;
}

.hero> :nth-child(3) {
    font-size: 16px;
    font-weight: 400;
}

.in {
    width: 100%;
}