@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/6d631aa6-567d-46ef-a644-b5b00e4334d2/web/IN-en-20251215-TRIFECTA-perspective_f1cab02a-e42b-4913-a7d9-c5fe0f94f68d_large.jpg");
    background-position: center center;
    
    background-size: max(1700px, 100vw);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    display: flex;
    justify-items: center;
    align-items: center;
    top: 0;
    background-color: black;

}

nav {
    max-width: 80vw;
    justify-content: space-between;
    display: flex;
    margin: auto;
    padding: 15px;
    align-items: center;
    height: 62px;
}

nav img {
    height: 88px;
    width: 181px;
    color: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 88%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: hwb(0 100% 0%);
    display: flex;
    z-index: 10;
    position: relative;
    font-family: "Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    font-weight: bolder;
    font-style: normal;
    flex-direction: column;
    gap: 20px;
}

.hero> :first-child {
    font-size: 53px;
    font-weight: bolder;
}

.hero> :nth-child(2) {
    font-family: "Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    font-size: 20px;
    display: flex;
    margin-bottom: 18px;
    font-weight: 700;
}

.hero> :nth-child(3) {
    font-family: "Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.sepration {
    height: 5px;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    position: relative;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-radius: inherit;
    margin-top: -1.50rem;
}
.btn {
    padding: 5px 35px;
    color: white;
    font-size: 17px;
    background-color: rgb(23, 23, 23);
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(101, 101, 101);
    margin-right: 9px;

}

.btn-red-sm {
    background: rgb(229, 9, 20);
    color: white;
    padding: 13px 30px;
    font-family: "Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 8px;
    border-style: solid;
    border: 0px;
    align-items: center;
    justify-items: center;
    font-weight: bold;
}

.btn-red {
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 8px 17px;
    font-size: 13px;
    font-family:"Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    border: 0px;
    font-weight: 900;
    border-radius: 5px;
    border-color: rgb(229, 9, 20);

}

.main input {
    padding: 17px 155px 18px 14px;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    border: 1px solid rgb(105, 105, 105);
    align-items: center;
    background-color: rgb(18, 18, 18);
    opacity: 0.9;
}
.containor {
    position: relative;
    display: flex;
    padding-left: 1000px;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: row;
    height: 400px;
    margin: 0;
    overflow-x: hidden; 
    overflow-y: hidden;
}
section{
    padding: 0 9.25rem;
    background-color: black;
}
.scroll-btn{
    height: 7.5rem;
    width: 1.5rem;
    position:sticky;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.click{
    position: relative;
    height: 100%;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 3;
    background: rgb(0, 0, 0);
    right: 0px;
    padding-left: 0.75rem;
    transition: transform 400ms ease-in-out;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
ul li{
    padding: 0.5rem 1.375rem;
    border-style: solid;
    list-style-type: armenian;
}
li img{
    height: 252px;
    width: 180px;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}
img:hover{
    transform : scale(1.05);
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    align-items:start;
}
h2{
    color: white;
    padding: 10px;
    background-color: black;
}
.temp{
    height: 25vh;
    width: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    border: 0px;
    display: flex;
    background: linear-gradient(149deg, #192247 0%, #210e17 99.08%);
    margin-top: 12px;
    margin-left: 16px;
    padding: 0 9.25rem;
}