@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/6d631aa6-567d-46ef-a644-b5b00e4334d2/web/IN-en-20251215-TRIFECTA-perspective_f1cab02a-e42b-4913-a7d9-c5fe0f94f68d_large.jpg");
    background-position: center center;
    background-size: max(1700px, 100vw);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    display: flex;
    justify-items: center;
    align-items: center;
    top: 0;
    background-color: black;

}

nav {
    max-width: 83vw;
    justify-content: space-between;
    display: flex;
    margin: auto;
    padding: 15px;
    align-items: center;
    height: 62px;
}

nav img {
    height: 87px;
    width: 180px;
    color: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 88%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: hwb(0 100% 0%);
    display: flex;
    z-index: 10;
    position: relative;
    font-family: "Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    font-weight: bolder;
    font-style: normal;
    flex-direction: column;
    gap: 20px;
}

.hero> :first-child {
    font-size: 53px;
    font-weight: bolder;
}

.hero> :nth-child(2) {
    font-family: "Karla","Segoe UI",Roboto, Ubuntu, sans-serif;;
    font-size: 20px;
    display: flex;
    margin-bottom: 18px;
    font-weight: 700;
}

.hero> :nth-child(3) {
    font-family: "Karla","Segoe UI",Roboto, Ubuntu, sans-serif;;
    font-size: 16px;
    font-weight: 500;
}

.sepration {
    height: 10px;
    background-color: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}

.btn {
    padding: 5px 35px;
    color: white;
    font-size: 17px;
    background-color: rgb(23, 23, 23);
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(34, 34, 34);

}

.btn-red-sm {
    background: rgb(229, 9, 20);
    color: white;
    padding: 13px 30px;
    font-family: "Karla","Helvetica Neue",sans-serif;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 8px;
    border-style: solid;
    border: 0px;
    align-items: center;
    justify-items: center;
    font-weight: bold;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 7px 17px;
    font-size: 15px;
    border: 0px;
    font-weight: 600;
    border-radius: 5px;
    border-color: red;

}

.main input {
    padding: 17px 155px 18px 14px;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    border: 1px solid rgb(105, 105, 105);
    align-items: center;
    background-color: rgb(18, 18, 18);
    opacity: 0.9;
}
.containor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: row;
    height: 400px;
    margin: 0;
    overflow-x: scroll; 
    overflow-y: visible;
}