@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.main {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/6d631aa6-567d-46ef-a644-b5b00e4334d2/web/IN-en-20251215-TRIFECTA-perspective_f1cab02a-e42b-4913-a7d9-c5fe0f94f68d_large.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
    max-width: 1800px;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    display: flex;
    justify-items: center;
    align-items: center;
    top: 0;
    background-color: black;

}

nav {
    max-width: 80vw;
    justify-content: space-between;
    display: flex;
    margin: auto;
    padding: 15px;
    align-items: center;
    height: 62px;
}

nav img {
    height: 90px;
    width: 181px;
    color: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 83%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: hwb(0 100% 0%);
    display: flex;
    z-index: 10;
    position: relative;
    font-family: "Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    font-weight: bolder;
    font-style: normal;
    flex-direction: column;
    gap: 20px;
}

.hero> :first-child {
    font-size: 53px;
    font-weight: bolder;
}

.hero> :nth-child(2) {
    font-family: "Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    font-size: 20px;
    display: flex;
    margin-bottom: 18px;
    font-weight: 700;
}

.hero> :nth-child(3) {
    font-family: "Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.sepration {
    height: 5px;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    position: relative;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-radius: inherit;
    margin-top: -1.50rem;
    margin: 35px;
}
.btn {
    padding: 5px 35px;
    color: white;
    font-size: 17px;
    background-color: rgb(23, 23, 23);
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(101, 101, 101);
    margin-right: 9px;

}

.btn-red-sm {
    background: rgb(229, 9, 20);
    color: white;
    padding: 13px 30px;
    font-family: "Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 8px;
    border-style: solid;
    border: 0px;
    align-items: center;
    justify-items: center;
    font-weight: bold;
}

.btn-red {
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 8px 17px;
    font-size: 13px;
    font-family:"Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    border: 0px;
    font-weight: 900;
    border-radius: 5px;
    border-color: rgb(229, 9, 20);

}

.main input {
    padding: 17px 155px 18px 14px;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    border: 1px solid rgb(105, 105, 105);
    align-items: center;
    background-color: rgb(18, 18, 18);
    opacity: 0.9;
}
.containor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: row;
    height: 315px;
    margin: 0;
}
section{
    padding: 0px 9.25rem;
    background-color: black;

}
.scroll-btn{
    height: 7.5rem;
    width: 1.2rem;
    position:sticky;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.click{
    position: relative;
    height: 100%;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 3;
    background: rgb(0, 0, 0);
    right: 0px;
    padding-left: 0.75rem;
    transition: transform 400ms ease-in-out;
}

.Movies{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    padding: 0;
    overflow-x: scroll;
    overflow-y: visible;
}
.Movies > li{
    padding: 0.55rem 1.375rem;
    border-style: solid;
}
li img{
    height: 255px;
    width: 185px;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}
img:hover{
    transform : scale(1.05);
}
.dis > h2{
    margin-top: 60px;
    margin-bottom: 15px;
    color: white;
    font-family:"Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
   padding: 0px 9.25rem;
}
.cont {
    flex-direction: row;
    justify-content: center;
    background-color: black;
    align-items:start;
    display: flex;
    height: 189px;
    border-radius: 5px;
    gap: 16px;
    padding: 0px 9.25rem;
}
.tem{
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    height: 38vh;
    width: 20vw;
    position: relative;
    color: white;
    padding-top: 2px;
    padding-right: 18px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding-left: 16px;
    font-family:"Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    border-radius: 14px;
}
@media (max-width: 940px) {
    .cont {
        flex-direction:column;
        padding: 0 32px;
        height: 35vh;
        justify-content: center;
        width: 100vw;
    }
}
.tab{
    background-color: black;
    padding: 0px 9.25rem;
    display: flex;
    flex-direction: column;
}
.feat{
    display: flex;
    background-color: rgb(45, 45, 45);
    height: 6vh;
    font-family:"Karla","Segoe UI",Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    transition-duration: 250ms;
    transition-property: background-color, margin-bottom, border-radius;
    transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
    list-style-type: none;
    margin-bottom: 8px;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    padding: 20px;
}